body {
    --cl-secondary: #5fdab3;
    --cl-secondary-hover: oklch(from var(--cl-secondary) calc(l - 0.13) c h);
}
.btn-secondary {
    background-color: var(--cl-secondary);
    border-color: var(--cl-secondary);
    color: #fff;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: var(--cl-secondary-hover);
    border-color: var(--cl-secondary-hover);
    transform: scale(1.03);
}
.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem #6fffd184;
}
.btn-secondary:active:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem #6fffd184;
}