@import url(Theme/Primary.css);
@import url(Theme/Secondary.css);
@import url(App/Dialogs.css);
@import url(App/Header.css);
@import url(Animations/SlideIn.css);

.bg-base {
      background-color: #1B1B1D;
}

main{
    background-color: #F6F6F6;
}

.bg-fancy {
  background: linear-gradient(135deg, #6fffd18a, #54e0c68c);
}

.fancy {
    font-family: 'Garamond', serif;
}

html {
  scroll-behavior: smooth;
}
.card-hover:hover {
  transform: scale(1.01); /* smaller lift for subtle effect */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* softer shadow */
}