@import url(Theme/Primary.css);
@import url(Theme/Secondary.css);
@import url(App/Header.css);
@import url(App/Index-BG.css);
@import url(Animations/SlideIn.css);

.bg-fancy {
  background: linear-gradient(135deg, #6fffd18a, #0fcdaa8c);
}

.fancy {
    font-family: 'Garamond', serif;
}

html {
  scroll-behavior: smooth;
}
.card-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card-bg-svg-left {
  bottom: -7%;
  right: -5%;
  opacity: 0.2;
  pointer-events: none;
  transform: rotate(20deg);
}

.card-bg-svg-right {
  bottom: -20%;
  left: -8%;
  opacity: 0.2;
  pointer-events: none;
  transform: rotate(20deg);
}