@import url(Theme/Primary.css);
@import url(Theme/Secondary.css);
@import url(App/Header.css);
@import url(App/Index-BG.css);
@import url(Animations/SlideIn.css);

.bg-fancy {
  background: linear-gradient(135deg, var(--cl-secondary), #f1c4ff, var(--cl-primary));
}

.fancy {
    font-family: 'Garamond', serif;
}

html {
  scroll-behavior: smooth;
}
.card-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card-bg-svg-left {
  right: -5%;
}

.card-bg-svg-right {
  left: -8%;
}

.card-bg-svg{
  bottom: -14%;
  opacity: 0.2;
  pointer-events: none;
  transform: rotate(20deg);
}

.z-neg {
  z-index: -1;
}

.z-1{
  z-index: 1;
}

.z-2{
  z-index: 2;
}