header {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    padding: 1rem 5%;
    background-color: #9CB36B;
    caret-color: transparent;
    position: sticky;
    top: 0%;
    left: 0%;
    width: auto;

    transition: transform 0.3s ease;
    transform: translateY(0);
    border-bottom: #525252 solid 2px;

    h1 {
        margin-right: auto;
        font-weight: 800;
        font-size: 1.5rem;
        font-family: serif;
        text-decoration: underline whitesmoke solid 0.1rem;
    }
    button:hover {
        background-color: #C482B9;
    }
}

.hamburger {
    display: none;
}

.bar {
    width: 100%;
    height: 0.3rem;
    border-radius: 20%;
    background-color: whitesmoke;
    transition: background-color 0.3s ease;
}

.hamburger:hover .bar {
    background-color: #D8ACD0;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: #D8ACD0;
}

#dropper {
    display: none;
}

.ContactLink {
    display: flex;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    cursor: pointer;
    caret-color: transparent;
}

.ContactLink:hover {
    background-color: #c0c0c065;
}

.ContactItems {
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    color: #24252A;
    font-size: larger;
}

.ContactLink img {
    width: 2rem;

}

.closemodel {
    font-size: larger;
    margin: 1rem;
    text-align: center;
    cursor: pointer;
    caret-color: transparent;
}

#openmodel1 {
    margin-left: 2rem;
}

@media (max-width: 750px) {

    header {

        h1 {
            margin-inline: auto;
        }

        button {
            margin-left: auto;
        }

        ul {
            width: 100%;
        }

        li {
            background-color: whitesmoke;
            transition: transform 0.3s ease;
            cursor: pointer;
            padding: 1rem !important;
        }

        li:hover {
            background-color: #9CB36B;
            color: #D8ACD0;
            caret-color: transparent;
        }
    }

    .nav__links li {
        display: flex;
        padding: 20px 0px;
    }

    #dropper {
        position: absolute;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: max-height 0.7s ease-out;
        background-color: #525252;
    }

    #dropper.show {
        max-height: 50rem;
    }

    #backUp {
        background-color: #9CB36B;
        padding-inline: 48% !important;
        height: 2.8rem;
    }

    #bignav {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        width: 2rem;
        height: 2rem;
        justify-content: space-around;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
}