body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.Icons {
    padding: 0.5rem;
    width: 3rem;
}

section {
    max-width: 50rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: #fff;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #d08f0e;
}

p {
    line-height: 1.6;
}

.contact-info {
    margin-top: 1.25rem;
}

footer {
    background-color: #009688;
    color: #fff;
    padding: 0.625rem;
    /* Converted from 10px to rem */
    text-align: center;
}