body {
    background-color: #7a8c7d;
}

#calendar {}

main {
    display: flexbox;
    justify-content: center;
}

dialog {
    margin: auto;
    border: none;
    background-color: #e7e2d2ee;
    width: fit-content;
    border-radius: 1rem;

    outline: 0.3rem dashed rgba(188, 74, 60, 0.8);
    outline-offset: -0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);

}

h3 {
    margin-inline: auto;
    margin: 3rem;
    text-decoration: underline;
    font-size: 1.8rem;

}

.disclaimer {
    text-align: center;
    margin: auto;
}

.bgimage {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
    position: absolute;
    z-index: -1;
}

.aboutbox {
    width: 80%;
    margin: 2rem;
    margin-top: 8rem;

    background-color: rgba(244, 232, 222, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.calbox {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    column-gap: 0px;
}

.gridItem {}

.calendar {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    width: 100%;
    border-right: #BC4A3C solid 2px;
    background-color: lightgray;
}

.calMenu {
    grid-column: 4/4;
    grid-row: 1 / 4;
    border-left: #BC4A3C solid 2px;
    background-color: rgb(92, 92, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calMenu a {
    margin-top: auto;
    margin-bottom: 20vh;
}

.visible {
    opacity: 1;
}

.aboutbox--visable {
    transform: translateY(0);
    opacity: 1;
}

h2,
p {
    padding: 1rem;
}

#legend {
    width: 100%;
    height: 50%;
    background-color: #e7e2d2ee;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: auto;
}

@media (max-width: 750px) {
    .calendar {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
        border-right: none;
        border-bottom: #BC4A3C solid 2px;
    }
    .calMenu {
        grid-column: 1 / 5;
        grid-row: 4/ 4;
        border-left: none;
        border-top: #BC4A3C solid 2px;
    }
}