  .bg-base {
      background-color: #1B1B1D;
  }

main{
    background-color: #F6F6F6;
}

.bg-primary {
    background-color: #FF2E9A !important;
}

.bg-secondary {
    background-color: #6fffd17e !important;
}

.bg-fancy {
  background: linear-gradient(135deg, #6fffd18a, #54e0c68c);
}

.btn-primary {
    background-color: #FF2E9A;
    border-color: #FF2E9A;
    color: #fff;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #cd2478;
    border-color: #cd2478;
    transform: scale(1.03);
}
.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(255, 46, 154, 0.5);
}

.btn-primary:active:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(255, 46, 154, 0.5);
}

.fancy {
    font-family: 'Garamond', serif;
}

.btn-secondary {
    background-color: #5fdab3;
    border-color: #5fdab3;
    color: #fff;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #6FFFD2;
    border-color: #6FFFD2;
    transform: scale(1.03);
}
.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem #6fffd184;
}

.btn-secondary:active:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem #6fffd184;
}

html {
  scroll-behavior: smooth;
}

.card-hover {
  transition: transform 0.4s ease, box-shadow 0.4s ease; /* smooth easing */
}

.card-hover:hover {
  transform: scale(1.01); /* smaller lift for subtle effect */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* softer shadow */
}