* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button,
h1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

.hidden {
    transform: translateY(-100%);
}

button {
    padding: 9px 25px;
    background-color: #D8ACD0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}