.slideIn{
    opacity: 0;
    transition: all 0.8s ease-out;
    filter: blur(1px);
    transform: translateX(100%);
    will-change: opacity, transform, filter;
}

.slidIn{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}